<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="static/img/favicon.ico">

    <title>shitstream</title>

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/main.css" rel="stylesheet">
  </head>

  <body>

    <script type="text/x-handlebars">
      <div id="header" class="container">
        <div class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              {{#link-to 'index' class='navbar-brand'}}shitstream{{/link-to}}
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li>{{#link-to 'artists'}}Browse{{/link-to}}</li>
                <li>{{#link-to 'playlist' 'current'}}Queue{{/link-to}}</li>
                <li>{{#link-to 'add_url'}}Add URL{{/link-to}}</li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li class="navbar-text">Listeners: {{model}}</li>
                <li>
                  <a href="/mpd.mp3.m3u">
                    <span class="glyphicon glyphicon-music"></span> Stream
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div id="alert-placeholder">
      </div>

      <div class="container">
        {{outlet}}
      </div>
    </script>

    <script type="text/x-handlebars" data-template-name="loading">
      <h1>Loading</h1>
      <div id="poop"></div>
    </script>

    <script type="text/x-handlebars" data-template-name="error">
      <h1>Error 💩</h1>
    </script>

    <script type="text/x-handlebars" id="index">
      <div class="row">
        <div class="col-md-12">
          <h3>Halp</h3>
          <p>If you find a bug, vulnerability, what have you, let me know via IRC or file a bug at <a href="https://github.com/nijotz/shitstream/issues">https://github.com/nijotz/shitstream/issues</a>.</p>
          <h3>Room for improvement</h3>
          <p>This uses Ember.js, a "one-page" framework.  I haven't worked out all the kinks, so if you try to queue something, and it says that it queued, but you don't see it in the queue: refresh.</p>
          <p>If you add a song via URL, and want to add another one, sometimes it doesn't work a second time: refresh.</p>
          <h3>Trumpets</h3>
          <p>If you tune in and hear trumpets, nothing is queued.  That's what plays when nothing is queued.</p>
          <h3>Updates <small>Last 5 commits</small></h3>
            <ul class="list-group">
            {{#each}}
              <li class="list-group-item">
                <span class="commit-message">
                  <a {{bind-attr href=html_url}}>{{commit.message}}</a>
                </span>
                <span class="author-name">
                  Commited by <a {{bind-attr href=author.html_url}}><strong>@{{author.login}}</strong></a>
                </span>
              </li>
            {{/each}}
            </ul>
        </div>
      </dvi>
    </script>

    <script type="text/x-handlebars" id="artists">
      <div class="row">
        <div class="col-md-4">
          <div id="artist-list" class="list-group">
            {{#each}}
              {{#link-to 'artist' this class="list-group-item"}}
              {{name}}
              {{/link-to}}
            {{/each}}
          </div>
        </div>

        <div class="col-md-8">
          {{outlet}}
        </div>
      </div>
    </script>

    <script type="text/x-handlebars" id="playlist">
      <div class="row">
        <h3>Current queue <small>Ordered from current song to last song </small></h3>
        <div class="col-md-12">
          {{render "songlist" future_songs}}
        </div>
      </div>

      <div class="row">
        <h3>Past songs <small>Ordered from last played song to oldest song</small></h3>
        <div class="col-md-12">
          {{render "songlist" past_songs}}
        </div>
      </div>

    </script>

    <script type="text/x-handlebars" id="songlist">
      {{!-- FIXME Duplicated from "songs" template.  Couldn't figure out
            how to reuse properly and want to move forward --}}
      <table class="table">
        <thead>
          <tr>
            <th>Artist</th>
            <th>Album</th>
            <th>Title</th>
            <th>Length</th>
            <th>Filename</th>
            <th>Remove</th>
          </tr>
        </thead>
        {{#each}}
          <tr {{bind-attr class="playing:success"}}>
            <td>{{song.artist.name}}</td>
            <td>{{song.album.name}}</td>
            <td>{{song.title}}</td>
            <td>{{song.length}}</td>
            <td>{{song.file}}</td>
            <td>
              <button {{action "dequeue_song" this}} class="close" type="button">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
            </td>
          </tr>
        {{/each}}
      </table>
    </script>

    <script type="text/x-handlebars" id="artist">
      <h2>{{name}}</h2>
      <h3>Albums</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Queue</th>
          </tr>
        </thead>
        {{#each albums}}
        <tr>
          <td>
            {{#link-to 'album' this}}{{name}}{{/link-to}}
          </td>
          <td>
            <button {{action "queue_album" this}}>
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </td>
        </tr>
        {{/each}}
      </table>
      <h3>Non-Album Songs</h3>
      {{render "songs" non_album_songs}}
    </script>

    <script type="text/x-handlebars" id="album">
      <div class="row">
        <div class="col-md-8">
          <h1>{{name}}</h1>
          <h2>Songs</h2>
          {{render "songs" songs}}
        </div>
      </div>
    </script>

    <script type="text/x-handlebars" id="songs">
      <table class="table">
        <thead>
          <tr>
            <th>Artist</th>
            <th>Album</th>
            <th>Title</th>
            <th>Length</th>
            <th>Filename</th>
            <th>Queue</th>
          </tr>
        </thead>
        {{#each}}
          <tr {{bind-attr class="playing:success"}}>
            <td>{{artist.name}}</td>
            <td>{{album.name}}</td>
            <td>{{title}}</td>
            <td>{{length}}</td>
            <td>{{file}}</td>
            <td>
              <button {{action "queue_song" this}}>
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </td>
          </tr>
        {{/each}}
      </table>
    </script>

    <script type="text/x-handlebars" id="add_url">
      <div class="row">
        <div class="col-md-12">
          <div class="content">
            <p>Put a URL to a song in the box below to add it to the queue.</p>
            <p>Currently, only YouTube URLs are supported</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-link"></span></span>
            {{input type="text" class="form-control" placeholder="https://www.youtube.com/watch?v=dQw4w9WgXcQ" value=url}}
          </div>
          <br></br>
        </div>
        <div class="col-md-4">
          <button id="queue-btn" class="btn btn-default" {{action "queue_url" url}}>
            Add URL to Queue
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <pre id="messages" class="well"></pre>
        </div>
      </div>

    </script>

    <script src="static/js/lib/jquery-1.10.2.js"></script>
    <script src="static/js/lib/bootstrap.min.js"></script>
    <script src="static/js/lib/handlebars-1.1.2.js"></script>
    <script src="static/js/lib/ember-1.7.0.js"></script>
    <script src="static/js/lib/ember-data-1.0.0-beta9.js"></script>
    <script src="static/js/lib/socket.io-0.9.16.js"></script>
    <script src="static/js/app.js"></script>
  </body>
</html>
