<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="static/img/favicon.ico">

    <title>shitstream</title>

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/main.css" rel="stylesheet">
  </head>

  <body>

    <script type="text/x-handlebars">
      <div class="container">
        <div class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              {{#link-to 'index' class='navbar-brand'}}shitstream{{/link-to}}
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li>{{#link-to 'artists'}}Browse{{/link-to}}</li>
                <li>{{#link-to 'playlist' 'current'}}Queue{{/link-to}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div id="alert-placeholder">
      </div>
      {{outlet}}
    </script>

    <script type="text/x-handlebars" id="artists">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="list-group">
              {{#each}}
              {{#link-to 'artist' this class="list-group-item"}}
              {{name}}
              {{/link-to}}
              {{/each}}
            </div>
          </div>

          <div class="col-md-8">
            {{outlet}}
          </div>
        </div>
      </div>
    </script>

    <script type="text/x-handlebars" id="playlist">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            {{render "songs" songs}}
          </div>
        </div>
      </div>
    </script>

    <script type="text/x-handlebars" id="artist">
      <h1>{{name}}</h1>
      <h2>Albums</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Queue</th>
          </tr>
        </thead>
        {{#each albums}}
        <tr>
          <td>
            {{#link-to 'album' this}}{{name}}{{/link-to}}
          </td>
          <td>
            <button {{action "queue_album" this}}>
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </td>
        </tr>
        {{/each}}
      </table>
      <h2>Non-Album Songs</h2>
      {{render "songs" non_album_songs}}
    </script>

    <script type="text/x-handlebars" id="album">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h1>{{name}}</h1>
            <h2>Songs</h2>
            {{render "songs" songs}}
          </div>
        </div>
      </div>
    </script>

    <script type="text/x-handlebars" id="songs">
      <table class="table">
        <thead>
          <tr>
            <th>Artist</th>
            <th>Album</th>
            <th>Title</th>
            <th>Length</th>
            <th>Filename</th>
          </tr>
        </thead>
        {{#each}}
          <tr {{bind-attr class="playing:success"}}>
            <td>{{artist.name}}</td>
            <td>{{album.name}}</td>
            <td>{{title}}</td>
            <td>{{length}}</td>
            <td>{{file}}</td>
            <td>
              <button {{action "queue_song" this}}>
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </td>
          </tr>
        {{/each}}
      </table>
    </script>

    <script src="static/js/lib/jquery-1.10.2.js"></script>
    <script src="static/js/lib/bootstrap.min.js"></script>
    <script src="static/js/lib/handlebars-1.1.2.js"></script>
    <script src="static/js/lib/ember-1.7.0.js"></script>
    <script src="static/js/lib/ember-data-1.0.0-beta9.js"></script>
    <script src="static/js/app.js"></script>
  </body>
</html>
