<div id="header" class="container">
  <div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {{#link-to 'index' class='navbar-brand'}}shitstream{{/link-to}}
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li id="nav-link-browse">{{#link-to 'artists'}}Browse{{/link-to}}</li>
          <li id="nav-link-queue">{{#link-to 'playlist' 'current'}}Queue{{/link-to}}</li>
          <li id="nav-link-add">{{#link-to 'add_url'}}Add URL{{/link-to}}</li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="navbar-text">Listeners: {{listeners}}</li>
          <li>
            <a href="/mpd.mp3.m3u">
              <span class="glyphicon glyphicon-music"></span> Stream
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="alert-placeholder">
</div>

<div class="container">
  {{outlet}}
</div>
