<div class="row">
  <div class="col-md-12">
    <h3>Halp</h3>
    <p>If you find a bug, vulnerability, what have you, let me know via IRC or file a bug at <a href="https://github.com/nijotz/shitstream/issues">https://github.com/nijotz/shitstream/issues</a>.</p>
    <h3>Room for improvement</h3>
    <p>This uses Ember.js, a "one-page" framework.  I haven't worked out all the kinks, so if you try to queue something, and it says that it queued, but you don't see it in the queue: refresh.</p>
    <p>If you add a song via URL, and want to add another one, sometimes it doesn't work a second time: refresh.</p>
    <h3>Trumpets</h3>
    <p>If you tune in and hear trumpets, nothing is queued.  That's what plays when nothing is queued.</p>
    <h3>Updates <small>Last 5 commits</small></h3>
      <ul id="github-commits" class="list-group">
      {{#each}}
        <li class="list-group-item">
          <span class="commit-message">
            <a {{bind-attr href=html_url}}>{{commit.message}}</a>
          </span>
          <span class="author-name">
            Commited by <a {{bind-attr href=author.html_url}}><strong>@{{author.login}}</strong></a>
          </span>
        </li>
      {{/each}}
      </ul>
  </div>
</dvi>
